Files/logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Append_to_array_variable_-_MicrosoftGraphResults": {
                "description": "Once complete, the results from the call are added to the variable we created earlier.",
                "inputs": {
                    "name": "MicrosoftGraphResults",
                    "value": "@body('HTTP_-_Microsoft_Graph_Call')"
                },
                "runAfter": {
                    "HTTP_-_Microsoft_Graph_Call": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToArrayVariable"
            },
            "HTTP_-_Microsoft_Graph_Call": {
                "description": "This step will call the Microsoft Graph URL passed from PowerBI and use the bearer token in the Headers for Authorization.",
                "inputs": {
                    "headers": {
                        "Authorization": "@triggerBody()?['Bearer']",
                        "content-type": "application/json"
                    },
                    "method": "GET",
                    "uri": "@triggerBody()?['Url']"
                },
                "runAfter": {
                    "Initialize_variable_-_MicrosoftGraphResults": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "paginationPolicy": {
                        "minimumItemCount": 100000
                    }
                },
                "type": "Http"
            },
            "Initialize_variable_-_MicrosoftGraphResults": {
                "description": "Here, we create a variable for the Microsoft Graph API results to be stored in.",
                "inputs": {
                    "variables": [
                        {
                            "name": "MicrosoftGraphResults",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Response_-_Pass_back_the_Results": {
                "description": "Finally, the results from the call, are passed back to PowerBI.",
                "inputs": {
                    "body": "@variables('MicrosoftGraphResults')",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Append_to_array_variable_-_MicrosoftGraphResults": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "description": "When the logic app is triggered by the URL, it must be passed a Bearer token (from the PowerBI Function) and the URL of the Microsoft Graph API you wish to call.",
                "inputs": {
                    "schema": {
                        "properties": {
                            "Bearer": {
                                "type": "string"
                            },
                            "Url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}